.sec3grid
    display: grid
    grid-template-columns: repeat(4, 25%)
    grid-template-rows: 50px
    align-items: center
    div
        background-color: #71717153
        padding: 4% 2%
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
        -webkit-box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
        -moz-box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
.sec3iconBadge
    display: flex
    align-items: center

.sec3
    margin: 2% 10%