.sec2grid
    display: grid
    grid-template-columns: repeat(4, 50%)
    grid-template-rows: 200px
    align-self: center
    div
        padding: 4% 2%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 200px
        box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
        -webkit-box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
        -moz-box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
.sec2
    margin-left: 10%
    margin-right: 10%