.sec8
    margin: 2% 10%
    .fa-solid
        font-size: 30px
        padding: 20px 25px
        border-radius: 50%
        background-color: #FCEEF2
        margin-right: 20px
    .fa-regular
        font-size: 30px
        padding: 20px
        border-radius: 50%
        background-color: #FCEEF2
        margin-right: 20px

    .inputs
        margin-left: 140px
        margin-top: 35px

    .sec8_flexbox_social
        display: flex
        margin: 30px 0
        line-height: 24px

        .bigger_margin
            margin: 40px 0
    .sec8_flexbox_social_second
        font-size: 16px

    .input_50_first, .input_50_second
        height: 40px
        width: 47.8%
        padding-left: 10px

    .input_50_first
        margin-right: 25px

    .input_100
        height: 40px
        width: 100%
        padding-left: 10px
        margin: 40px 0

    .input_big
        padding-bottom: 135px
        width: 100%
    
    .hover_pink:hover
        transition: 1s ease
        background-color: #E43D5C

.sec8
    @media (min-width: 375px) and (max-width: 767px)
        .sec8_flex_direction_media_queries
            align-items: center
            flex-direction: column-reverse
        .inputs
            margin-left: 0
        .input_50_first
            margin-bottom: 40px
        .input_50_first, .input_50_second
            width: 100%

.sec8
    @media (min-width: 768px) and (max-width: 1023px)
        .sec8_flex_direction_media_queries
            align-items: center
            flex-direction: column-reverse
        .inputs
            margin-left: 0
        .input_50_first
            margin-bottom: 40px
        .input_50_first, .input_50_second
            width: 100%

.sec8
    @media (min-width: 1024px) and (max-width: 1439px)
        .sec8_flex_direction_media_queries
            align-items: center
            flex-direction: column-reverse
        .inputs
            margin-left: 0
        .input_50_first
            margin-bottom: 40px
        .input_50_first, .input_50_second
            width: 100%
        
