.sec5
    .badge
        background-color: #FCEEF2
    .card
        background-color: #F2F2F2
        border: none
        margin: 10px
        .position
            padding: 50px
            p
                font-size: 12px
            h5
                font-size: 15px
            button
                font-size: 10px
        .red_border
            border: 2px solid #E43D5C
            border-radius: 10px

        //     position: relative
        //     .euro-symbol
        //         sup
        //             position: absolute
        //             font-size: 12px
        //             top: 65px
        //             right: 170px
                    