.sec5
    margin: 2% 10%
    .badge
        background-color: #FCEEF2
    .card
        background-color: #F2F2F2
        border: none
        margin: 10px
        width: 18rem
        .position
            padding: 50px
            p
                font-size: 12px
            h5
                font-size: 15px
            button
                font-size: 10px
                color: #E43D5C
            button:hover
                background-color: #E43D5C
                color: white
                border: none

        .red_border
            border: 2px solid #E43D5C
            border-radius: 10px
        .position
            sup
                padding-bottom: 50px
.sec5
    @media (min-width: 375px) and (max-width: 424px)
        .sec5_top_text_media_queries
            p
                font-size: 14px

        .sec5_cards_media_queries
            align-items: center
            flex-direction: column
            width: 100%

.sec5
    @media (min-width: 425px) and (max-width: 767px)
            .sec5_top_text_media_queries
                p
                    font-size: 14px

            .sec5_cards_media_queries
                align-items: center
                flex-direction: column
                width: 100%

.sec5
    @media (min-width: 768px) and (max-width: 1023px)
            .sec5_top_text_media_queries
                p
                    font-size: 18px

            .sec5_cards_media_queries
                align-items: center
                flex-direction: column
                width: 100%

                .card
                    width: 60%

.sec5
    @media (min-width: 1024px) and (max-width: 1439px)
            .sec5_top_text_media_queries
                p
                    font-size: 20px

            .sec5_cards_media_queries
                align-items: center
                flex-direction: row

.sec5
    @media (min-width: 1440px)
        .sec5_top_text_media_queries
                p
                    font-size: 24px
        .card
            width: 30rem
    