.sec3grid
    display: grid
    grid-template-columns: repeat(4, 24%)
    grid-template-rows: 80px
    align-items: center
    justify-content: center
    div
        align-content: center
        background-color: #ffffff
        padding: 2% 2%
        margin: 4% 2%
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
        -webkit-box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
        -moz-box-shadow: -1px 1px 34px 0px rgba(0,0,0,0.32)
.sec3iconBadge
    display: flex
    align-items: center
    &:hover
        color: #E53D5C

.sec3
    margin-left: 10%
    margin-right: 10%
    margin-bottom: 2%

.fa-shop, .fa-basketball
    color: #bbcc1d
.fa-chart-column, .fa-coins, .fa-file
    color: #2761d3
.fa-calendar-days
    color: #f34
.fa-paint-roller, .fa-circle-dot
    color: #912bea
.fa-bullseye
    color: #6eea2b
.fa-network-wired, .fa-house-user
    color: #2bd7ea
.fa-anchor
    color: #ea2b2b

@media (min-width: 600px) and (max-width: 1024px)
    .sec3grid
        display: flex
        grid-template-columns: repeat(4, 24%)
        grid-template-rows: 80px
        align-items: center
        justify-content: center
        div
            align-content: center
            background-color: #ffffff
            padding: 2% 2%
            margin: 4% 2%
            display: flex
            align-items: center
            justify-content: center
            width: 50VW

@media (min-width: 320px) and (max-width: 600px)
